@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-xl font-medium;
  }
  h4 {
    @apply text-base font-normal;
  }
}

@layer utilities {
  .default-px {
    padding: 3rem;
  }
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
  .shadow-box {
    box-shadow:
      0 1px 6px -2px rgba(50, 71, 92, 0.06),
      0 2px 6px 1px rgba(50, 71, 92, 0.04),
      0 1px 4px 2px rgba(50, 71, 92, 0.02);
  }
}
